<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <rule name="equipamento-grupo-1">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

     <iisnode
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;" />
    
  </system.webServer>
</configuration>
